<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document-result</title>
</head>
<body>
    <!-- ??(이메일)님 환영합니다. -->
    <!-- 내용)    -->
    <!-- (내용)   >>> 브라우서 상으로 표현(파싱)한다.
         (내용)  >>> 파싱하지 않는다.  -->
    <%=name%>(<%=email%>)님 환영합니다.
</body>
</html>