<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views : index</title>
</head>
<body>
    <h2>MVC 패턴과 MYSQL 연결 실습 - 회원가입, 로그인, 탈퇴 기능 구현</h2>
    <a href="/pages">회원 기능 테스트</a> 
</body>
</html>