<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background: linear-gradient(rgb(104, 0, 118),rgb(236, 190, 240));
            min-height: 100vh;
        }

        h1 {
            text-align: center;
            color: yellow;
        }

        
        h4 {
            text-align: center;
            color: rgb(255, 0, 0);
        }

        p {
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <h1><%=name%>(<%=email%>)님 환영합니다.</h1>
    <p>조금만 기다리시면 회원가입이 완료됩나다.</p>
    <h4>하지만 너의 개인정보가 유출되겠지!</h4>
</body>
</html>