<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background: linear-gradient(rgb(255, 123, 0), rgb(255, 204, 62));
            min-height: 100vh;
        }

        h1 {
            text-align: center;
            color: yellow;
        }

        p {
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <h1><%=name%>(<%=email%>)님 환영합니다.</h1>
    <p>조금만 기다리시면 회원가입이 완료됩나다.</p>
</body>
</html>