/* BEM 네이밍 규칙 */
/* 블록, 엘리먼츠, 메소드의 앞자를 딴 방식 */
/* .FuncComponent__test-css--active {} */

.test-css {
  background-color: yellow;
  font-size: 30px;
}

.form-css {
  text-align: center;
}

.title-css {
  background-color: rgb(255, 229, 180);
  text-align: center;
  color: orange;
  font-size: 30px;
}

.box-css {
  width: 500px;
  height: 150px;
  background-color: rgb(255, 255, 207);
}

.Section___section {
  margin-bottom: 20px;
  border: 2px solid blue;
}

.Section___title {
  color: red;
}

.FuncPropPj2___book {
  background-color: lightyellow;
  text-align: center;
  width: 400px;
  height: 400px;
  margin: 10px;
  padding: 20px;
}

.FuncPropPj2___bestseller {
  color: salmon;
}

.FuncPropPj2___content {
  text-align: left;
}

.FuncPropPj2___bookimg {
  width: 120px;
  object-fit: cover;
}
