<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/redbox/css/index.css" />
    <div class="box">와우</div>
    <div class="box">와우</div>
    <img src="/redbox/img/maxresdefault.jpg">

</head>
<body>

    
</body>
</html>